/* File styles.css */
.tab-pane {
    -fx-background-color: white; /* Màu nền của tabPane */
}

.tab {
    -fx-background-color: white; /* Màu nền của tab bình thường */

}

.tab:hover {
    -fx-background-color: white; /* Màu nền của tab khi di chuột qua */
}

.tab:selected {
    -fx-background-color: white; /* Màu nền của tab khi được chọn */
    -fx-border-color: #868e96;
    -fx-text-fill: white;
}

.tab-header-area {
    -fx-background-color: white; /* Màu nền của khu vực chứa các tab */
}

.tab-header-background {
    -fx-background-color: white; /* Màu nền của khu vực phía sau các tab */
}
.anchor-pane {
    /* Thiết lập màu xám cho viền của anchorPane */
    -fx-border-color: gray;
    /* Thiết lập độ rộng là 3 pixel cho viền của anchorPane */
    -fx-border-width: 0.5px;
    /* Thiết lập kiểu là liền cho viền của anchorPane */
    -fx-border-style: solid;
}

.button_red {

}

.button_blue {

}

.anchor_pane{

}
