.tab-pane {
    -fx-background-color: white; /* Màu nền của tabPane */
    -fx-text-fill: #fff;
}

.tab {
    -fx-background-color: #fff; /* Màu nền của tab bình thường */
    -fx-text-fill: #fff;
    -fx-tick-label-fill: #fff;
}

.tab:hover {
    -fx-background-color: #fff; /* Màu nền của tab khi di chuột qua */
    -fx-text-fill: black;
}

.tab .tab-label {
    -fx-text-fill: white;
}
.tab:selected .tab-label {
    -fx-text-fill: black;
}

.tab:selected {
    -fx-background-color: #fff; /* Màu nền của tab khi được chọn */
    -fx-border-color: #fff;
}

.tab-header-area {
    -fx-background-color: #1177d1; /* Màu nền của khu vực chứa các tab */
    -fx-text-fill: #fff;
}
.tab-header-area:hover {
    -fx-background-color: #117732; /* Màu nền của khu vực chứa các tab */
    -fx-text-fill: #fff;
}

.tab-header-background {
    -fx-background-color: white; /* Màu nền của khu vực phía sau các tab */
    -fx-text-fill: #fff;
    -fx-color-label-visible: white;
}

.anchor-pane {
    -fx-border-color: #000;
    -fx-border-radius: 10px;
    -fx-background-color: #fff;
    -fx-border-width: .4px .4px .2px .4px;
}

.top-form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .2px .4px;
}

.button_blue {
    -fx-background-color: #1177d1;
    -fx-border-color: #1177d1;
    -fx-text-fill: #fff;
    -fx-border-radius: 10px;
}

.button_blue:hover{
    -fx-background-color: #0e63ae;
    -fx-border-color: #0d5ca2;
    -fx-text-fill: #fff;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
}

.button_red {
    -fx-background-color: #d9534f;
    -fx-border-color: #d9534f;
    -fx-text-fill: #fff;
    -fx-border-radius: 10px;
}

.button_red:hover{
    -fx-background-color: #d23430;
    -fx-border-color: #c9302c;
    -fx-text-fill: #fff;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
}

.list-cell:hover {
    -fx-background-color: #1177d1 ;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.table-view{
    -fx-background-color:transparent;
    -fx-padding:0px;
    -fx-border-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-border-width:2px;
    -fx-border-radius:8px;
}
.table-view .table-column{
    -fx-alignment: CENTER;
}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-background-radius:8px 8px 0px 0px;
    -fx-background-inset: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color:transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
}
.table-row-cell:selected {
    -fx-background-color: #005797;
}

.table-row-cell:hover {
    -fx-background-color: #0099ff;
}

